<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yhsoft.photoremember" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_photrace"
        android:label="@string/app_name"
        android:name="com.yhsoft.photoremember.PhoTrace"
        android:theme="@style/AppTheme"
        android:largeHeap="true">


        <meta-data android:name="DATABASE" android:value="photrace.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.yhsoft.photrace.record" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

        <!-- Google Service -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_api_key" />

        <activity android:name="com.yhsoft.photoremember.activity.SplashActivity"
            android:screenOrientation="portrait">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yhsoft.photoremember.activity.PhoTraceActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.yhsoft.photoremember.activity.PhotoDetailActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="PhotoDetailActivity2"
            android:theme="@android:style/Theme.NoTitleBar"
            android:hardwareAccelerated="false"
            android:screenOrientation="sensor"
            />

        <activity
            android:name="com.yhsoft.photoremember.activity.PhotoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="PhotoDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:hardwareAccelerated="false"
            android:screenOrientation="sensor"
            />

        <activity
            android:name="com.yhsoft.photoremember.activity.MarkerPhotoDetailActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="MarkerPhotoDetailActivity2"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="sensor"
            />

        <activity
            android:name="com.yhsoft.photoremember.activity.MarkerPhotoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="MarkerPhotoDetailActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:hardwareAccelerated="false"
            android:screenOrientation="sensor"
            />

        <activity
            android:name="com.yhsoft.photoremember.activity.SliderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="SliderActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:hardwareAccelerated="false"
            />

        <receiver android:name="com.yhsoft.photoremember.NetworkStatusChecker">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
